.navbar-ul {
  list-style-type: none;
  overflow: none;
  /* background-color: #ffffff; */
  align-self: center;
  padding: 0;
  margin: 0;
  height: 60px;

  justify-content: space-between;
}

.placePicker {
  
  float: left;
  width: auto;
  width: 40%;
}

.top-logo {
  padding: 5px;
  float: left;
  margin-top: 2px;
  margin-right: 15%;
}

/* li {
  float: left;
  border-right:1px solid #bbb;
} */



.navbar-container {
  position: fixed;
  width: 100%;
  height: 60px;
  
  background-color: #ffffff;
  box-shadow: -3px -6px 7px 5px #0006;
  z-index: 1000;
}

.logo-png {
  position: fixed;
  top: 0px;
  left: 3px;
}

.ico-cup-leadboard-button {
  display: none;
  width: 24px;  /* Example size, adjust as needed */
  height: 24px;
  fill: currentColor;  /* Icon color inherits from text color */
}



.LocationPicker {
  height: 60px;
  opacity: 0.9;
  pointer-events: all; /* Ensures the input remains interactive */

  /* background-color: var(--gmpx-color-surface, #fff); */
  /* border: 1px solid #80868b; */
  /* border-radius: 4px; */
  color: var(--gmpx-color-on-surface, #212121);
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: calc(var(--gmpx-font-size-base, 0.875rem) * 0.75);
  width: 100%;
  margin: 0;
}  

@media screen and (max-width: 1545px) {
  .top-logo {
    margin-right: 5%;
  }
}

@media screen and (max-width: 1270px) {
  .top-logo {
    margin-right: 2%;
  }

  .placePicker {
    width: 34%;
  }
}

.search-bar-wrapper {
  margin-left: 10px;
  min-width: 20%;
  margin-right: auto;
}

.search-bar-wrapper2 {
  display: flex;
  position: relative;
  margin-right: 40%;    
}
  
.button-container {  
  display: contents;
  z-index: 100000;

  li {
    float: right;
    /* border-right:1px solid #bbb; */
  }

  a {
    text-decoration: unset;
    color: unset;  
  }

  p {
    margin: 0;
    height: 50px;
    border: calc(0.08 * var(--m)) solid rgba(255, 255, 255, 0.4);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    /* margin: 0 8px; */
    /* Adjusted spacing */
    /* padding: 6px 12px; */
    /* Adjusted padding for better look */
    color: #000000;
    font-size: 0.84rem;
    /* Maintain original font size */
    font-weight: 700;
    /* Slightly lighter weight */
    
    /* Subtle gradient background */
    /* border-radius: calc(0.7 * var(--m)); */
    

    /* Slightly rounded corners */
    transition: background 0.3s, transform 0.2s;
    /* Smooth transitions */
    min-width: 100px;
    min-height: 100%;   
    margin-top: 2px;  

    background: linear-gradient(145deg, rgba(237, 109, 40, 0.8) 30%, rgba(215, 61, 21, 0.8) 80%);
    /* Light transparent background for glassy look */
    backdrop-filter: blur(10px);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 2px 2px 5px rgba(255, 255, 255, 0.1), 0 4px 8px rgba(0, 0, 0, 0.4) */
    z-index: 10;

  }

  p:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #444444 0%, #666666 100%);
    /* Darker gradient on hover */
    transform: translateY(-1px);
    /* Slight lift effect */
  }

  .filler {
    flex: 1;
  }

  .btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    margin: 2px 8px;
    /* Adjusted spacing */
    padding: 6px 12px;
    /* Adjusted padding for better look */
    color: #ffffff;
    font-size: 0.75em;
    /* Maintain original font size */
    font-weight: 600;
    /* Slightly lighter weight */
    background: linear-gradient(135deg, #333333 0%, #555555 100%);
    /* Subtle gradient background */
    border-radius: 8px;
    /* Slightly rounded corners */
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
    /* Smooth transitions */
  }
  
  .btn:hover {
    background: linear-gradient(135deg, #444444 0%, #666666 100%);
    /* Darker gradient on hover */
    transform: translateY(-2px);
    /* Slight lift effect */
  }
}

.settings-container {
  position: relative;
  display: flex;
  align-items: center;
}

.settings-content {
  position: absolute;
  z-index: -10;
  max-width: 0;
  top: 61px;
  right: -100px;
  margin: 4px;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.65);
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.5s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.settings-content.show {    
  max-width: 250px; /* Adjust based on your content's width */
  opacity: 1;
  right: 0;    
}

#settingsbutton p {
  flex-direction: column;
}

.nav-settings-container {
  pointer-events: none;
  position: absolute;
  top: 60px;
  width: 160px;
  z-index: -2;
}

.nav-settings-container.active {
  pointer-events: all;
}


/* Styling for the filter button component */

:root {
  /*  change this for scaling  */
  --m: 0.75rem; 

}
  
@media screen and (max-width: 1100px) {

  .navbar-container {
    background-color: transparent;
    background-color: transparent;
    box-shadow: none;
    pointer-events: none;
    z-index: none;
  }
  
  .navbar-container2 {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .LocationPickerContainer2 {
    position: fixed;
    /* Updated to fixed as per the old style */
    top: 20px;
    /* Adjusted as per old CSS */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;    
    /* Added to align items in the center vertically */
    width: 100%;
    height: 0px;
  }
  
  .LocationPicker2 {
    width: 70%;
    padding: 0px 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    pointer-events: all;
    /* Ensures the input remains interactive */
  }
  
  
  /*Button Sylling*/
  :root {
    /*  change this for scaling  */
    --m: 0.75rem;
  
  
  }
  
  .button-container2 {
    overflow: hidden;
  
    a {
      text-decoration: unset;
      color: unset;
    }
  
    p {
  
      border: calc(0.08 * var(--m)) solid rgba(255, 255, 255, 0.4);
    /* Soft border */
    position: relative;
    color: #0c1410;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--m);
    font-weight: bold;
    border-radius: calc(0.7 * var(--m));
    padding: calc(0.5 * var(--m)) calc(1 * var(--m));
    display: flex;
    justify-content: center;
    cursor: pointer;


    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    z-index: 10;


    
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 15%);
    /* Light transparent background for glassy look */
    backdrop-filter: blur(10px);

    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(255, 255, 255, 0.3),
      /* Inner shadow for depth */
      0 4px 8px rgba(0, 0, 0, 0.4);
    /* External shadow for elevation */

  }
  
  
    p::before {
      content: '';
  
      height: 30%;
      width: 60%;
      position: absolute;
      bottom: -20%;
      z-index: -5;
      background-size: 200%;
      animation: animate 2s infinite linear;
      filter: blur(calc(0.8 * var(--m)));
    }
  
    p:hover,
    p:hover::before {
      animation: animate 0s infinite linear;
      transform: translateY(-2px);
    }
  
  
  }

  .leaderboard-mobile-settings {
    width: 100%;
    display: flex;
    justify-content: flex-end;  /* Aligns children elements to the right */   
    position: relative;
    /* height: 60px; */
    top: -6px;
    right: 15px;
  }

  .mobile-leaderboard-button {
    /* background-color: aqua; */
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;  /* Aligns children elements to the right */   
    position: relative;
    margin: 0;
  }

  .mobile-leaderboard-container {
    position: relative;
    display: flex;
    align-items: center;    

    p {  
      margin-right: 6px;
      border: calc(0.08 * var(--m)) solid rgba(255, 255, 255, 0.4);
      /* Soft border */
      position: relative;
      color: #0c1410;
      font-family: 'Open Sans', sans-serif;
      font-size: 40px;
      font-weight: bold;
      border-radius: 50%;
      /* padding: calc(0.5 * var(--m)) calc(1 * var(--m)); */
      display: flex;
      justify-content: center;
      cursor: pointer;


      background-origin: border-box;
      background-clip: padding-box, border-box, border-box;
      background-size: 200%;


      
      background: linear-gradient(145deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.15) 15%);
      /* Light transparent background for glassy look */
      backdrop-filter: blur(10px);

      box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(255, 255, 255, 0.3),
      /* Inner shadow for depth */
      0 4px 8px rgba(0, 0, 0, 0.4);
    }

    span {
      position: relative;
      padding: 3px;
    }
  }

  .mobile-settings {
    /* background-color: aqua; */
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;  /* Aligns children elements to the right */   
    position: relative;
    top: -10px;
    right: 16px;
  }

  .mobile-settings-container {
    position: relative;
    display: flex;
    align-items: center;

    p {  
      margin-right: 6px;
      border: calc(0.08 * var(--m)) solid rgba(255, 255, 255, 0.4);
      /* Soft border */
      position: relative;
      color: #0c1410;
      font-family: 'Open Sans', sans-serif;
      font-size: var(--m);
      font-weight: bold;
      border-radius: 50%;
      /* padding: calc(0.5 * var(--m)) calc(1 * var(--m)); */
      display: flex;
      justify-content: center;
      cursor: pointer;


      background-origin: border-box;
      background-clip: padding-box, border-box, border-box;
      background-size: 200%;
      z-index: 10;


      
      background: linear-gradient(145deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.15) 15%);
      /* Light transparent background for glassy look */
      backdrop-filter: blur(10px);

      box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(255, 255, 255, 0.3),
        /* Inner shadow for depth */
        0 4px 8px rgba(0, 0, 0, 0.4);
      /* External shadow for elevation */
    }

  }
  
  .mobile-settings-content {
    position: absolute;
    z-index: 1000;
    top: 193px;
    right: -100px;
    margin: 4px;
    padding: 0px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.65);
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.5s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
  }
  
  .mobile-settings-content.show {    
    max-width: 250px; /* Adjust based on your content's width */
    opacity: 1;    
    right: 18px;
    background: linear-gradient(145deg, rgba(237, 109, 40, 0.8) 30%, rgba(215, 61, 21, 0.8) 80%);
  }
  
  
  
  /* Styling for the filter button component */
  
  .nav-links {
    display: flex;
    gap: 20px;
    z-index: 10;
  }
  
  .burger-menu {
    display: none;
  }
  
  .mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 200px;
    padding: 20px;
  }
  
  
  
    .LocationPickerContainer2 {
      justify-content: left;
      padding-left: 2.5rem;
    }
  
    .LocationPicker {
      width: 65%;
  
    }
  
    .button-container2 {
      overflow: hidden;
      width: 100%;
      display: flex;
  
      p {
        margin-top: 5px;
        margin-right: 6px;
      }
  
      p:hover,
      p:hover::before {
        animation: animate 0.5s infinite linear;
        transform: translateY(0px);
      }
  
    }
  
  
    .code-mode-div {
      width: 70%;
    }
  
    .nav-links {
      display: none;
    }
  
    .mobile-menu {
      display: flex;
  
      align-content: center;
  
      width: 100vw;
  
      overflow: hidden;
      margin-top: 20px;
  
    }
  
    .burger-menu {
      position: fixed;
      top: -10px;
      right: -20px;
      width: 30px;
      height: 50px;
      padding: 40px 40px 0;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
      display: block;
    }
  
    .burger-menu>div {
      position: relative;
    }
  
    .burger-menu span {
      width: 100%;
      height: 2px;
      left: 0;
      display: block;
      background: #000000;
      position: absolute;
      transition: 0.35s ease-in-out;
      z-index: 1;
    }
  
    /* Positioning the spans */
    .burger-menu span:nth-child(1) {
      top: 0;
    }
  
    .burger-menu span:nth-child(2) {
      top: 7px;
    }
  
    .burger-menu span:nth-child(3) {
      top: 14px;
    }
  
    /* Menu open state */
    .burger-menu.open span:nth-child(1) {
      top: 7px;
      transform: rotate(45deg);
    }
  
    .burger-menu.open span:nth-child(2) {
      width: 0;
      left: 50%;
    }
  
    .burger-menu.open span:nth-child(3) {
      top: 7px;
      transform: rotate(-45deg);
    }
  
    .circle-container-2 {
      position: fixed;
      top: -58px;
      right: -58px;
      
      z-index: 1;
    }
  
  
    .circle-2 {
      background: rgba(255, 255, 255, 0.2);
      /* Light transparent background for glassy look */
      backdrop-filter: blur(1.5px);
      height: 150px;
      width: 150px;
      border-radius: 50%;
      position: relative;
      transition: transform 0.5s linear;
  
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(255, 255, 255, 0.1);
      /* Outer and inner shadow for depth */
      border: 1px solid rgba(255, 255, 255, 0.3);
      /* Add a subtle border for a frosted effect */
      
      z-index: 1;
    }
  
    .circle4 {
      height: 145px;
      width: 145px;
      border: 2px solid #ddd;
      border-radius: 50%;
      
      z-index: 1;
    }
  
  
  
  
  
  
  

}