/* The side tab */
.side-tab {
  height: 100%; /* Full-height */
  width: 0; /* Start with no width - hidden */
  position: fixed; /* Fixed position */
  top: 0;
  right: 0; /* Slide in from the right */
  background-color: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* overflow-x: hidden; */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* Animation */
  color: rgb(0, 0, 0); /* Text color */
  z-index: 10000; /* Ensure it's on top of other content */
}

/* Content inside the tab */
.side-tab .content {
  margin: 25px;
  margin-right: 0px;
  max-height: calc(100% - 50px);
  overflow-y: auto; /* Enables scrolling */
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Button to open the tab */
button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001; /* Ensure button is on top of other content */
}

/* When the tab is open */
.side-tab.open {
  margin-top: 60px;
  width: 800px;  
}

h4 {
  padding-left: 1%;
}

.post-summary {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-bottom: 10px;
  padding: 1%;


  .image-link {
      display: block;
      min-width: 257px;
      width: 257px;
      height: 150px;
      background-color: rgb(242, 242, 242);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      p {
          text-align: center;
          font-size: 10px;
          box-sizing: border-box;
          padding: 5px;
      }
  }  

  .post-info {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      width: 100%;

      .title {
          margin: 0;
          margin-top: 10px;
          font-weight: bold;
          width: 100%;
          overflow: hidden;
          margin-bottom: 4px;
          font-size: 18px;

          a {
              overflow: hidden;
              display: block;
              width: 100%;
              text-decoration: none;
              color: rgb(0, 0, 0);
              white-space: nowrap;
              text-overflow: ellipsis;
          }
      }

      .description {
          overflow: hidden;

          p {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              line-clamp: 3;
              -webkit-box-orient: vertical;
          }
      }

      .extra-info {
          margin-right: 5px;
          display: flex;
          font-size: 12px;
          flex: 1;
          justify-content: space-between;
          column-gap: 10px;

          p {
              /* font-weight: bold; */
              align-self: flex-end;
          }
      }
  }
}

.post-summary:hover {
  background: rgba(252, 213, 175, 0.5);
}

.post-summary:last-child {
  margin-bottom: 130px;  /* More space for the last post only */
}

@media screen and (max-width: 1100px) {  
  
  .side-tab.open {
    margin-top: 0;
    width: 95%;
    z-index: 10000; /* Ensure it's on top of other content */
  }

  .close-btn2 {
    margin-top: 70px;
      position: absolute;
      top: 20px;
      right: 25px;
      font-size: 36px;
      text-decoration: none;
      color: rgb(0, 0, 0);
    
  }

  .close-btn {    
    top: -8px;
    right: 5px;
  }

  .side-tab .content {
    margin: 5px;
  }

  h4 {
    padding-left: 0%;
  }

  .post-summary{
    padding: 0%;
    padding-right: 1%;
  }

  .post-summary .image-link {
    display: block;
    min-width: 140px;
    width: 140px;
    height: 90px;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .post-summary .post-info {
      margin-top: 3px;
      height: 93px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .title {
          margin-top: 0;
          margin-bottom: 5px;
          font-weight: bold;
          width: 100%;
          overflow: hidden;
          font-size: 13px;

          a {
              overflow: hidden;
              display: block;
              width: 100%;
              text-decoration: none;
              color: rgb(0, 0, 0);
              white-space: nowrap;
              text-overflow: ellipsis;
          }
      }

      .description {
          overflow: hidden;
          font-size: 12px;

          p {
            margin: 0px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              line-clamp: 3;
              -webkit-box-orient: vertical;
          }
      }

      .extra-info {
          margin: 0;
          background-color: transparent;
          display: flex;
          font-size: 12px;
          flex: 1;
          justify-content: space-between;
          column-gap: 10px;
          font-size: 10px;

          p {
              /* font-weight: bold; */
              align-self: flex-end;
          }
      }
  }
}
